<header>
  <h1> Artists </h1>
  <%= button_to 'New Artist', new_artist_path, method: 'get', tabindex: 5 %>
  <%= button_to 'New Album', new_album_path, method: 'get', tabindex: 5 %>
</header>

<section id="searchbox">
  <%= form_tag search_path, method: 'get' do %>
    <input type="text" name="q" value="<%= params[:q] %>" id="q" autofocus="autofocus" placeholder="start typing to search..." tabindex="0" />
  <% end %>
</section>

<section class="artists">
  <% @artists.each do |artist| %>
    <%= content_tag :div, class: 'result clearfix' do %>
      <h2>
        <%= link_to artist do %>
          <span class="name"><%= artist.name %></span>
          <small><%= pluralize artist.album_count, 'album' %></small>
        <% end %>
      </h2>
    <% end %>
  <% end %>
</section>

<% if @artists.empty? %>
  <section class="no-results">
    <p>The search hasn't returned any results...</p>
  </section>
<% end %>

<script>Search.init();</script>
<script>$('img.band').on('error', function(){ $(this).attr('src', '/images/blank_artist.png'); });</script>
