<div class="artist">
  <header>
    <h1>
      <span class="back"><%= link_to "〈".html_safe, artists_path, title: "Back" %></span>
      <%= @artist.name %>
      <%= button_to 'Edit', edit_artist_path(@artist), method: 'get' %>
    </h1>
  </header>

  <p id="notice"><%= notice %></p>

  <section class="artist-info">
    <span><%= ((mems = @artist.members).blank?) ? '' : mems.to_sentence(last_word_connector: ' and ') %></span> |
    <span><%= pluralize @albums.size, 'album' %></span>
    <p class="artist-profile"><%= @artist.profile %></p>
  </section>

  <section class="albums">
    <% @albums.each do |album| %>
      <%= content_tag :div, class: 'clearfix' do %>
        <h3>
          <span class="title"><%= album.title %></span>
          <div class="info">
            <small><%= album.released %></small>
          </div>
        </h3>
      <% end %>

    <% end %>

    <script>$('img').on('error', function(){ $(this).attr('src', '/images/blank_cover.png'); });</script>
    <script>$(document.location.hash).effect('highlight', 1500)</script>
  </section>
</div>
